/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
}
h2,
h3,
a {
	color: #093a58;
}
h2,
h3 {
	margin-top: 0;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

*:focus {
    outline: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.container{
margin: 60px;
text-align: center;
}


.col {
	padding-bottom: 40px;
	padding-right: 1em;
	padding-left: 1em;
}


	.caption {
	display: none; /* hide caption by default */
	color: #fff;   
	position: relative;
}

/* ---- Search box ---- */

.filter-container{
	margin-top: 60px;
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;

}



#myInput {
 background-image: url('../images/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 12px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 10px;
  width: 100%;
}


#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	#myInput {
	width: 80%;
	}

	.row {
		width: 90%;
		margin: 0 auto;
	}
	
}
@media (min-width: 1025px) {
	
		#myInput {
	width: 40%;
	}

	.row {
		width: 80%;
		max-width: 1150px;
	}
}